<%= form_for [:admin, @answer_form], url: admin_questions_path do |f| %>
<%= render "shared/error_messages", object: f.object %>
  <table class="table table-bordered">
    <tr>
      <td>Categories</td>
      <td>
        <%= f.collection_select(:category_id, @categories, :id,
                                :name, {prompt: false},
                                {class: "form-control"}) %>
      </td>
    </tr>
    <tr>
      <td><%= f.label :question %></td>
      <td><%= f.text_field :content, class: "form-control" %></td>
    </tr>
    <tr class="fields">
      <td><%= f.label :answer_content, t(:answer) %></td>
      <td><%= f.text_field :answer_content, class: "form-control" %></td>
      <td class="col-md-1">
        <%= f.check_box :correct %>
        <%= f.label t(:correct) %>
      </td>
    </tr>
  </table>
  <%= f.submit t(:submit), class: "btn btn-primary", name: "btn_submit" %>
<% end %>
